########################
#
#	file type
#
########################
*.pdf
*.dat
*.png
*.wmv
*.tif
*.avi
*.gif
*.jpg

########################
#
#	directories
#
########################
GQF8XX/

JVEMV6/12#/entries.csv.20*.csv

free#/ELS7JR/3_1/*.vtu

proj_home-appliances-engineer/*/*.txt


denken-3/*.png


#2017/04/05 15:12:21

free#/K6H7DD_schroedinger/sketch_4_1_sine_curve/data/*.txt

