<div>

    <input value="{{ MAIN_DIR }}" id="ipt_Numbering_MainDir"/>
    

</div>

<div>

<table id="tbl_Mm_Numbering_Actions">

    <tr>
        
        <th>
            No.
        </th>
            
        <th>
        
            Commands
            
        </th>
    
        <th>
        
            Action
        
        </th>
    
    </tr>

    {% for item in lo_Files %}
    <tr>
        
        <td>
            {{forloop.counter}}
        </td>
    
        <td>
            {{ item }}
        </td>
    
        <td>
        
            <button onclick="exec_Numbering('{{ item }}')" class = "bt_Basic_1">
            
                GO
            
            </button>
        
        </td>
    
    </tr>
    
    {% endfor %}
    
</table>

</div>