@CHARSET "UTF-8";

a.a_Link {
	
	font-size	: 80px;
	
	margin		: 80px;

	background-color	: Gold;

	border-radius: 10px;
	
	padding		: 30px;
	
	font-family: Arial, Helvetica, sans-serif;
	
}/*a.a_Link {*


#canvas_area {
        background:#999;
 }
 
canvas#canvas-container {
	
        background	: #ffffaa;
        
 }
 
 div#div_message {
 
 	background	: #ffffaa;
 	
 	/* ref http://www.tagindex.com/stylesheet/text_font/color.html */
 	color		: blue;
 
 }
 
 div#div_Main_Contorls_Buttons {

	margin-bottom	: 10px;

 
 }
 
 input#ipt_Image_File_URL {
 
 	background	: LightCyan;
 	
 	margin	: 5px;
 	
 	width	: 50%;
 	
 	height	: 60px;
 	/*
 	height	: 30px;
 	*/
 	/*
 	text-size	: 60px;
 	*/
 	/*
 	ref http://kuroeveryday.blogspot.jp/2017/04/css-styling-html-forms.html
 	*/
 	font-size	: 40px;
 	/*
 	font-size	: 50;
 	*/
 	/*
 	size	: 30px;
 	*/
 }/* input#ipt_Image_File_URL */
 
 input#ipt_Main_Range_Start_X {
 	/*
 	background	: LightCyan;
 	*/
 	/*
 	width	: 50%;
 	*/
 	/*
 	height	: 30px;
 	*/
 	/*
 	size	: 30px;
 	*/
 	/*
 	font-size	: 30px;
 	*/
 }/* input#ipt_Image_File_URL */
 
 input.ipt_Main_Range {
 
 	background	: Bisque;
 	/*
 	width	: 50%;
 	*/
 	height	: 70px;
 	
 	text-align	: center;
 	/*
 	size	: 30px;
 	*/
 	font-size	: 50px;
 	
 	width	: 150px;
 	
 	margin		: 10px;
 	
 	margin-top	: 20px;
 	
 	
 }/*input.ipt_Main_Range {*/
 
 input#ipt_Main_Circle_Radius {
 
 	background-color	: Gainsboro;
 
 }
 
 input#ipt_Main_Grid_Interval {
 
 	background-color	: SandyBrown;
 
 }
 
 button#btn_Image_File_URL {
 
 	background-color	: LightCyan;
 	/*
 	width	: 40px;
 	*/
 	font-size	: 40px;
 	/*
 	font-size	: 25px;
 	*/
 	border-radius: 5px;
 	
 	padding		:	5px;
 	
 	
 	
 }/* input#ipt_Image_File_URL */
 
button#btn_Main_Clear_All_Rects {
 
 	background-color	: LightPink;
 	
 }/* button#btn_Main_Clear_All_Rects {*/
 
 button#btn_Main_Clear_One_Rects {
 
 	background-color	: Yellow;
 	/*
 	width	: 40px;
 	*/
 	
 	/*
 	width	: 180px;
 	*/
 }/* button#btn_Main_Clear_All_Rects {*/
 
button#btn_Main_Toggle_Grid {

	background-color	: DarkOrange;
	
}/*button#btn_Main_Toggle_Grid*/
 
button#btn_Main_Toggle_Grid_Slanted {

	background-color	: DarkOrange;
	
}/*button#btn_Main_Toggle_Grid*/
 
button#btn_Main_Zoom_In {

	background-color	: PaleGreen;
	
}/*button#btn_Main_Zoom_In*/
 
button#btn_Main_Clear_Zoom_In {

	background-color	: PaleVioletRed;
	
}/*button#btn_Main_Clear_Zoom_In*/
 
button#btn_Main_Draw_Circle {

	background-color	: Gray;
	
}/*button#btn_Main_Draw_Circle*/
 
button#btn_Main_Clear_Circle {

	background-color	: Gray;
	
}/*button#btn_Main_Clear_Circle*/
 
button.btn_Main_Controls {

	width	: 250px;
	
	height	: 100px;
	
	margin	: 20px;
	
	font-size	: 50px;
	
	padding	: 10px;
	
	border-radius	: 10px;
	
}
/* ref https://stackoverflow.com/questions/1664785/resize-html5-canvas-to-fit-window 'answered Jun 20 '10 at 6:43' */
 html, body {
  width:  100%;
  height: 100%;
  margin: 5px;
}

span.spn_Lbl_Main_Range {
	
/*	font-size	: 20px;*/
	font-size	: 50px;
	
	padding		: 5px;
	
	margin		: 10px;
	
	text-align	: right;
	
	font-family: Arial, Helvetica, sans-serif;
	
}/*span.spn_Lbl_Main_Range {*/

span#spn_Lbl_Main_Range__Radius {
	
	background-color	: LightSeaGreen;
	
	color				: white;

	border-radius: 10px;
	
	padding-left		: 10px;
	padding-right		: 10px;
	
}

span#spn_Lbl_Main_Grid_Interval {
	
	background-color	: BurlyWood;
	
	color				: DarkSlateGray;

	border-radius: 10px;
	
	padding-left		: 10px;
	padding-right		: 10px;
	
}

table#tbl_InputBoxes {
	
	
	
}/*table#tbl_InputBoxes {*/
