@CHARSET "UTF-8";
#canvas_area {
        background:#999;
 }
 
canvas#canvas-container {
	
        background	: #ffffaa;
        
 }
 
 div#div_message {
 
 	background	: #ffffaa;
 	
 	/* ref http://www.tagindex.com/stylesheet/text_font/color.html */
 	color		: blue;
 
 }
 
 div#div_Main_Contorls_Buttons {

	margin-bottom	: 10px;

 
 }
 
 input#ipt_Image_File_URL {
 
 	background	: LightCyan;
 	
 	width	: 50%;
 	
 	height	: 30px;
 	
 	size	: 30px;
 
 }/* input#ipt_Image_File_URL */
 
 input#ipt_Main_Range_Start_X {
 	/*
 	background	: LightCyan;
 	*/
 	/*
 	width	: 50%;
 	*/
 	/*
 	height	: 30px;
 	*/
 	/*
 	size	: 30px;
 	*/
 	/*
 	font-size	: 30px;
 	*/
 }/* input#ipt_Image_File_URL */
 
 input.ipt_Main_Range {
 
 	background	: Bisque;
 	/*
 	width	: 50%;
 	*/
 	height	: 30px;
 	/*
 	size	: 30px;
 	*/
 	font-size	: 25px;
 	
 }/*input.ipt_Main_Range {*/
 
 button#btn_Image_File_URL {
 
 	background-color	: LightCyan;
 	/*
 	width	: 40px;
 	*/
 	font-size	: 25px;
 
 	border-radius: 5px;
 	
 	padding		:	5px;
 	
 	
 	
 }/* input#ipt_Image_File_URL */
 
 button#btn_Main_Clear_All_Rects {
 
 	background-color	: LightPink;
 	/*
 	width	: 40px;
 	*/
 	font-size	: 25px;
 
 	border-radius: 5px;
 	
 	padding		:	5px;
 	
 	width	: 180px;
 	
 }/* button#btn_Main_Clear_All_Rects {*/
 
 button#btn_Main_Clear_One_Rects {
 
 	background-color	: Yellow;
 	/*
 	width	: 40px;
 	*/
 	font-size	: 25px;
 
 	border-radius: 5px;
 	
 	padding		:	5px;
 	
 	width	: 180px;
 	
 }/* button#btn_Main_Clear_All_Rects {*/
 
button#btn_Main_Toggle_Grid {

	background-color	: DarkOrange;
	
	width	: 180px;
	
	font-size	: 25px;

	border-radius: 5px;
	
	padding		:	5px;
	
	
	
}/*button#btn_Main_Toggle_Grid*/
 
/* ref https://stackoverflow.com/questions/1664785/resize-html5-canvas-to-fit-window 'answered Jun 20 '10 at 6:43' */
 html, body {
  width:  100%;
  height: 100%;
  margin: 5px;
}

span.spn_Lbl_Main_Range {
	
	font-size	: 20px;
	
}/*span.spn_Lbl_Main_Range {*/
