<table id="tbl_Im_Actions">

    <tr>
        
        <th>
            No.
        </th>
            
        <th>
        
            File
            
        </th>
    
        <th>
        
            Action
        
        </th>
    
    </tr>
    
    <tr>
    
        <td>
            1
        </td>
        
        <td>
            2-0) edit_memos.9-0.bat
        </td>
        
        <td>
            <button onclick="im_Action('2-0')">GO</button>
        </td>
        
    </tr>

</table>