p.current_Scheme {
	
	color  : blue;
	/*color  : green;*/
	/*color  : red;*/
	
}


table#tbl_Im_Actions {
	
	/*border     : 1;*/
	/*border     : 1px solid black;*/
	/* ref template for css files https://stackoverflow.com/questions/7900575/how-to-add-css-autocomplete-to-eclipse */
	/*ref table border http://www.html.am/html-codes/tables/table-border.cfm*/
	border     : 1px solid #aaaaaa;
	
	margin     : 10px;
}

table#tbl_Mm_Numbering_Actions {
	
	/*border     : 1;*/
	/*border     : 1px solid black;*/
	/* ref template for css files https://stackoverflow.com/questions/7900575/how-to-add-css-autocomplete-to-eclipse */
	/*ref table border http://www.html.am/html-codes/tables/table-border.cfm*/
	border     : 1px solid #aaaaaa;
	
	margin     : 10px;
}/*table#tbl_Mm_Numbering_Actions {*/

table#tbl_Mm_DeNumbering_Actions {
	
	/*border     : 1;*/
	/*border     : 1px solid black;*/
	/* ref template for css files https://stackoverflow.com/questions/7900575/how-to-add-css-autocomplete-to-eclipse */
	/*ref table border http://www.html.am/html-codes/tables/table-border.cfm*/
	border     : 1px solid #aaaaaa;
	
	margin     : 10px;
}/*table#tbl_Mm_Numbering_Actions {*/


table#tbl_Mm_Numbering_Actions {
	
	/*border     : 1;*/
	/*border     : 1px solid black;*/
	/* ref template for css files https://stackoverflow.com/questions/7900575/how-to-add-css-autocomplete-to-eclipse */
	/*ref table border http://www.html.am/html-codes/tables/table-border.cfm*/
	border     : 1px solid #aaaaaa;
	
	margin     : 10px;
}

table#Layout_Links_Basic {
	
	/*border     : 1;*/
	/*border     : 1px solid black;*/
	/* ref template for css files https://stackoverflow.com/questions/7900575/how-to-add-css-autocomplete-to-eclipse */
	/*ref table border http://www.html.am/html-codes/tables/table-border.cfm*/
	border     : 1px solid #aaaaaa;
	
	margin     : 10px;
}

table#tbl_Im_Actions tr th {
	
	/*ref https://www.w3schools.com/CSSref/pr_background-color.asp*/
	background-color   : #22ffff;
	
	text-align     : center;
	
	border     : 1px solid #aaaaaa;
	
	padding    : 5px;
	
}

table#tbl_Mm_Numbering_Actions tr th {
	
	/*ref https://www.w3schools.com/CSSref/pr_background-color.asp*/
	background-color   : #22ffff;
	
	text-align     : center;
	
	border     : 1px solid #aaaaaa;
	
	padding    : 5px;
	
}

table#tbl_Mm_DeNumbering_Actions tr th {
	
	/*ref https://www.w3schools.com/CSSref/pr_background-color.asp*/
	background-color   : #22ffff;
	
	text-align     : center;
	
	border     : 1px solid #aaaaaa;
	
	padding    : 5px;
	
}

table#tbl_Im_Actions tr td {
	
	background-color   : #ffffff;
	
	text-align     : left;
	
	border     : 1px solid #aaaaaa;
	
	padding    : 5px;
	
}

table#tbl_Mm_Numbering_Actions tr td {
	
	background-color   : #ffffff;
	
	text-align     : left;
	
	border     : 1px solid #aaaaaa;
	
	padding    : 5px;
	
}

table#tbl_Mm_DeNumbering_Actions tr td {
	
	background-color   : #ffffff;
	
	text-align     : left;
	
	border     : 1px solid #aaaaaa;
	
	padding    : 5px;
	
}

button.bt_Basic_1 {
	
	font-size: 30px;
	background-color: yellow;
	font-weight: bold;
	
	padding    : 5px;
	
	
}

button.bt_Numbering_List {
	
	font-size: 30px;
	background-color: yellow;
	font-weight: bold;
	
	padding    : 5px;
	
	
}

button.bt_Numbering_List:hover {
	
	background-color: #3e8e41;
	
}

button.bt_Numbering_List:active {
	
	/*ref https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate3*/

	background-color: DarkKhaki;
	
	transform: translateY(4px);
	
	
}

button.bt_Index_List_Action {
	
	font-size: 30px;
	background-color: green;
	font-weight: bold;
	
	color      : white;
	
	padding    : 5px;
	
	
}

a.a_Layout_Links_Basic {

	color: Cornsilk ;
	
	/*color: #4e4e4e;*/

	
    /*color: #6e6e6e;*/
    font: bold 20px Helvetica, Arial, sans-serif;
    
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    
    background: CadetBlue ;
    
/*background: #81BEF7;*/
    
    border: solid 1px #86B404;
    /*border: solid 1px #dcdcdc;*/
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    
    margin-right: 20px;
    cursor:pointer;
	
	target     : _blank;
	
	/*
	font-size: 20px;
	background-color: green;
	font-weight: bold;
	
	color      : white;
	
	padding    : 5px;
	
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    
    width       : 30px;
	*/
	
}

button.bt_Index_List_Action:hover {
	
	font-size: 30px;
	background-color: DarkKhaki ;
	font-weight: bold;
	
	
	color      : white;
	
	padding    : 5px;
	
	
}

button.bt_Index_List_Action:active {
	
	font-size: 30px;
	
	/*ref color https://www.computerhope.com/htmcolor.htm */

	background-color: MediumTurquoise;
	font-weight: bold;
	
	box-shadow: 0 5px #666;
	
	transform: translateY(4px);
	
	color      : white;
	
	padding    : 5px;
	
	
}

div#index_Display_Area {
	
	background     : white;
	
}/*div#index_Display_Area {*/

div#layout_Links_Basic {
	
	background     : BurlyWood; 
	
	width          : 75%;
	
	min-height: 50px;
	
	margin         : 10px;
	
}/*div#index_Display_Area {*/

div#div_Numbering_Content {
	
	background     : white;
	
	/*ref https://stackoverflow.com/questions/17450861/add-scroll-bar-to-table-body */
	overflow       :scroll;
	
	height         : 350px;
	
/*height         : 50%;*/
	
	
}/*div#index_Display_Area {*/


input#ipt_Numbering_MainDir {
	
	height: 30px;
    width:  350px;
    /*width:  250px;*/

    background: #81BEF7;
    
    margin-top: 20px
	
	
}/*input#ipt_Numbering_MainDir {*/

input#ipt_DeNumbering_MainDir {
	
	height: 30px;
    width:  350px;
    /*width:  250px;*/

    background: #81BEF7;
    
    margin-top: 20px
	
	
}/*input#ipt_Numbering_MainDir {*/


