<table id="tbl_Curr_Updown_Patterns">

    <tr>
    
        <td>
        
            <label>Up down pattern</label>
            <br>
            <label>(1 : up / 0 : down / space : delimiter)</label>
            
            <br>
        
            <input value="1 1 1" id="ipt_Curr_UpdownPattern"/>
        
        
        </td>
    
    </tr>

    <tr>
    
        <td>
        
            <label>Range (unit : pip)</label>
            
            <br>
        
            <input value="25" id="ipt_Curr_UpdownPattern"/>
        
        
        </td>
    
    </tr>



</table>