@CHARSET "UTF-8";
#canvas_area {
        background:#999;
 }
 
canvas#canvas-container {
	
        background	: #ffffaa;
        
 }
 
 div#div_message {
 
 	background	: #ffffaa;
 	
 	color		: blue;
 
 }